/*
Theme Name: Leksa Child
Description: Child theme for the Leksa. Child themes are the recommended way of making modifications to a theme. <a href="http://codex.wordpress.org/Child_Themes">Read More</a>
Author: PeThemes
Author URI: http://pethemes.com
Template: leksa
*/

/*----------------------- Services Page -----------------------*/

/* (Showcase Wall) Make header text height smaller */


#services-links{
    height:250px;
    min-height: auto;
}

.services-image-slider a{
	display:none;
	pointer-events:none;
}

.services-image-slider .parallax .slide-image{
	height: 100% !important;
}

/* Laptop
@media (max-width: 1366px) {
  #services-links {
    height: 200px;
  }
}
*/

/* Tablet landscape
@media (max-width: 1200px) {
  #services-links {
    height: 200px;
  }
}
*/

/* Tablet portrait
@media (max-width: 1024px) {
  #services-links {
    height: 200px;
  }
}
*/

/* Mobile
@media (max-width: 767px) {
  #services-links {
    height: 150px;
  }
}
*/

#services-links .project-image img{
	object-fit: cover;
}


#services-links .showcase-project {
	cursor:pointer;
}
#services-links .showcase-project a{
    pointer-events: none;
}

/*----------------------- Culture Page -----------------------*/
.csr-table .showcase-project a{
	pointer-events:none;
}
.csr-table .showcase-project .project-category{
	display:none;
}

/*----------------------- Work Page -----------------------*/
/*
.showcase-table{
	overflow:visible !important;
}
*/
.showcase-project.coming-soon a{
	pointer-events:none;
}

.showcase-project .project-category{
	padding: 5px 10px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 10px;
	background:#666;
	color:#EBEBEB;
}

.showcase-project.coming-soon .project-category{
	/* Yellow */
	background:#f5dd38;
	color:#070707;
}

/* Projects List - General */
.portfolio-grid .project--cat{
	text-transform: uppercase;
}

.portfolio-grid .project--client:after{
	display:none;
}


.portfolio-grid .pe--switcher .ps--item{
  color: #1f1f1fff;
}

.layout--switched .portfolio-grid .pe--switcher .ps--item{
  color: #f0f0f0;
}

.layout--switched .portfolio-grid .portfolio--pagination a {
	color: #fff;
}
.layout--switched .portfolio-grid .ps--follower{
	background: #333 !important;
}


/* Projects List - "Grid" view */
@media (max-width: 767px) {
	.portfolio-grid .portfolio--controls{
		display:none !important;
	}
	.work-cards{
		display:none !important;
	}
	
	.portfolio-grid .project--tc{
		align-items: flex-start !important;
	}
}

.pe--portfolio.portfolio--list>div.portfolio--projects--wrapper .project--image{
	width: 30% !important;
	height: 300px !important;
}
@media (max-width: 767px) {
	.pe--portfolio.portfolio--list>div.portfolio--projects--wrapper .project--image{
		width: 100% !important;
		height: 250px !important;
	}	
}

.portfolio-grid  .pe--portfolio.portfolio--grid .project--cat{
	color:#858585;
	font-size: 14px;
	text-align:right;
	padding-top:8px;
}

.portfolio-grid  .pe--portfolio.portfolio--grid .project--title{
	width:70%;
}
.portfolio-grid  .pe--portfolio.portfolio--grid .project--cat{
	width:30%;
}

.portfolio-grid .pe--portfolio.portfolio--grid .project--meta{
	display:block;
}
.portfolio-grid .pe--portfolio.portfolio--grid .project--meta--top{
	display:none;
}

.portfolio-grid .pe--portfolio.portfolio--grid .project--details{
	flex-wrap:wrap;
}
.portfolio-grid .pe--portfolio.portfolio--grid .project--details .project--client{
	font-size:18px;
	color:#858585;
	padding-top:15px;
}

/* Projects List "List" view  */
.portfolio-grid  .pe--portfolio.portfolio--list .project--tc .project--title {
   font-size: 24px !important;
   padding-right: 30px;
 }

/* -- Portfolio grid Disable Coming Soon --*/
.portfolio-grid .project-categories-coming-soon .project--cat{
	/* Yellow */
    color: #f5dd38 !important;
    font-size: 15px !important;
}
.portfolio-grid .project-categories-coming-soon a{
	display:none;
	pointer-events:none;
}
/*----------------------- Preloader -----------------------*/
/*-- Prevent "1" looking odd with preloader font set to Jakarta */
.numbers--wrap .number span:nth-child(2){
    text-align: center;
    width: 100%;
    padding-left: 20%;
}

/*----------------------- Home Page -----------------------*/

/* Header Client Carousel */
.client-carousel .elementor-image-carousel .swiper-slide{
	cursor: -webkit-grab;
	cursor: grab;
	user-select: none;
}
.client-carousel .elementor-image-carousel .swiper-slide:active{
	cursor:-webkit-grabbing;
	cursor:grabbing;
}

.client-carousel .elementor-image-carousel .swiper-slide img{
	max-width:120px !important;
	max-height: 60px;
}

/* What we've been building */
.workscarousel .carousel--item .project-categories-coming-soon .post-categories{
	background:#f5dd38;
	color:#070707;
}
.workscarousel .carousel--item .project-categories-coming-soon, .workscarousel .carousel--item .project-categories-coming-soon a{
	pointer-events:none;
}


/* Client Logos:	Disable clickthru on client logos */
.client-logos .pe-client a{
	cursor:default;
}

/* Resize client logos */
.our-clients-section .pe-client img{
	max-width: 60%;
	min-width: 60%;
	max-height: 60%;
}

/* Modify hover effect on home page client logos */

.our-clients-section .pe-client:hover img{
	filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(180%) contrast(100%);
}

.layout--switched .our-clients-section .pe-client img{
	display:block;	
}

.layout--switched .our-clients-section .pe-client:hover img{
	filter: none;

}

/*----------------------- Contact Page -----------------------*/
.email-address span{
	font-size: 4.5vw;
}
/* Mobile */
@media (max-width: 767px) {
  .email-address span{
    font-size: 6vw;
  }
}

/*----------------------- General Components -----------------------*/
/* Testimonial Component - Fix styling */
.pe-testimonial .pt-avatar{
	flex: 0 0 auto;
}


.pe-testimonial .pt-det span.pt-title{
	font-size:12px !important;
}

.pe-testimonial .pt-avatar{
	border-radius: 0% !important;
}
.pe-testimonial .pt-avatar>img{
	object-fit:contain;
}

@media (max-width: 767px) {
	.pe--testimonials--wrapper{
		gap: 15px !important;
	}
}

/* Prevent accordions from being highlighted - Fix styling */
.pe-accordion-item{
	user-select:none;
}

/* Mouse Cursor text */
#mouseCursor .cursor-text{
	text-align:center;
}

.footer-email span{
	font-size: clamp(1rem, 2vw, 3rem);
}

/* Accordion plusses */
.pe-accordion-item-title div{
	padding-right:30px;
}

@media (max-width: 767px) {
	.accordion-toggle{
		position:absolute !important;
		right:0;
	}
}

/* Site branding */
.site-branding{
	opacity:1;
	transition: opacity 500ms ease 500ms;
}
@media (max-width: 767px) {
	.site-branding.menu-open{
		opacity:0;
	}
}

/* WP Contact Form Styling */

.wpcf7 form.sent .wpcf7-response-output{
	border-radius:10px;
	padding:20px;
	border: 0.5px solid;
}

.wpcf7 form.invalid .wpcf7-response-output{
	border-radius:10px;
	padding:20px;
	border: 0.5px solid;
}

.contact-intro-text br{
	display:none;
}

/* Layout Switcher (dark/light mode) */
.pe-layout-switcher{
	display:none !important;
}

/*properly hide the play button*/
.pe-video.vid--playing .pe--large--play{
	z-index: -1;
}

footer .menu-item{
	font-weight: 400;
}