.container.svelte-7ytry9 {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(238, 238, 238, .3) 0%, rgba(205, 205, 217, .3) 100%);
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 200%);
    gap: 8px;
    -webkit-user-select: none;
    user-select: none;
    /* mix-blend-mode: difference; */
}

@keyframes svelte-7ytry9-flyOut {
    0% {
        opacity: 0;
        transform: translate3d(-50%, 200%, 150px)
    }

    to {
        opacity: 1;
        transform: translate3d(-50%, 0, 150px)
    }
}

.appear.svelte-7ytry9 {
    animation: .5s cubic-bezier(.65, .65, .27, 1.39) .5s svelte-7ytry9-flyOut forwards
}

.nav-item.svelte-7ytry9 {
   position: relative;
    padding: 8px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 52px !important;
    min-width: 70px !important;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
    background: rgba(255, 255, 255, .1);
    transition: all .3s ease-in-out
}

.nav-item.svelte-7ytry9:hover {
    background: rgba(255, 255, 255, .3);
    cursor: pointer
}

.icon-bounds.svelte-7ytry9 {
    position: relative;
    height: 24px;
    width: 24px;
    overflow: hidden
}

.active.svelte-7ytry9 {
    background: rgba(255, 255, 255, .4)
}

.nav-icon.svelte-7ytry9 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0
}

@media (max-width: 600px) {
    .container.svelte-7ytry9 {
        bottom: 24px
    }
}

@keyframes svelte-n5qdyk-unblur {
    0% {
        filter: blur(4px)
    }

    to {
        filter: blur(0px)
    }
}

.unblur.svelte-n5qdyk.svelte-n5qdyk {
    animation: linear .5s svelte-n5qdyk-unblur forwards
}

.arrow.svelte-n5qdyk.svelte-n5qdyk:after {
    content: "";
    display: inline-block;
    background-image: url(../../../small-arrow.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 8px;
    margin-left: 4px;
    opacity: .7
}

.arrow.svelte-n5qdyk.svelte-n5qdyk {
    color: #bebebe
}

@keyframes svelte-n5qdyk-zoomIn {
    0% {
        opacity: 0;
        scale: .9
    }

    to {
        opacity: 1;
        scale: 1
    }
}

.appear.svelte-n5qdyk.svelte-n5qdyk {
    animation: .7s cubic-bezier(.65, .65, .27, 1.39) .5s svelte-n5qdyk-zoomIn forwards
}

.content.svelte-n5qdyk.svelte-n5qdyk {
    position: sticky;
    top: 0;
    z-index: 4;
    padding: 32px;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../../../line-pattern.svg);
    background-repeat: repeat-x
}

.social.svelte-n5qdyk.svelte-n5qdyk {
    margin-right: 24px
}

.social.last.svelte-n5qdyk.svelte-n5qdyk {
    margin-right: 0 !important
}

.social.svelte-n5qdyk.svelte-n5qdyk {
    opacity: .4;
    transition: all .2s ease-in-out
}

.social.svelte-n5qdyk.svelte-n5qdyk:hover {
    opacity: 1
}

.visitors-container.svelte-n5qdyk.svelte-n5qdyk {
    display: flex;
    align-items: flex-end;
    gap: 8px
}

.visitors.svelte-n5qdyk.svelte-n5qdyk {
    font-family: Space Mono, monospace;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: end
}

.counter.svelte-n5qdyk.svelte-n5qdyk {
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
    height: 36px;
    overflow: hidden;
    border-radius: 5px;
    background: linear-gradient(180deg, #000 0%, #3C3C3C 100%);
    box-shadow: 0 1px 1px #edeaff40 inset;
    margin-right: 4px;
    -webkit-user-select: none;
    user-select: none
}

.counter-number.svelte-n5qdyk.svelte-n5qdyk {
    margin-top: 0;
    transition: 1s margin-top cubic-bezier(.71, -.01, .01, .99)
}

.coma.svelte-n5qdyk.svelte-n5qdyk {
    margin-bottom: 3px
}

.copy-email.svelte-n5qdyk.svelte-n5qdyk {
    padding: 0 12px;
    margin-left: -6px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out
}

.revealed-email.svelte-n5qdyk.svelte-n5qdyk {
    position: relative;
    display: flex;
    align-items: center
}

.revealed-email.svelte-n5qdyk:hover .copy-email.svelte-n5qdyk {
    visibility: visible;
    cursor: pointer;
    margin-left: 0;
    opacity: 1
}

.toast.svelte-n5qdyk.svelte-n5qdyk {
    position: absolute;
    padding: 6px 8px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 1px 1px #edeaff40 inset;
    top: -40px;
    left: 0;
    visibility: hidden
}

@keyframes svelte-n5qdyk-skeleton {
    0% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.counter.placeholder.svelte-n5qdyk.svelte-n5qdyk {
    writing-mode: initial;
    text-orientation: initial;
    white-space: initial;
    animation: svelte-n5qdyk-skeleton 1s infinite linear
}

.visitor-label.svelte-n5qdyk.svelte-n5qdyk {
    margin: 0 4px 3px 0
}

.key.svelte-n5qdyk.svelte-n5qdyk {
    display: block;
    width: 23px;
    height: 23px;
    background-image: url(../../../key.svg);
    background-repeat: no-repeat;
    cursor: pointer
}

.key.svelte-n5qdyk.svelte-n5qdyk:hover {
    background-image: url(../../../keydown.svg) !important
}

.press-to-reveal.svelte-n5qdyk.svelte-n5qdyk {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 24px
}

.email-flex.svelte-n5qdyk.svelte-n5qdyk {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px
}

.blur.svelte-n5qdyk.svelte-n5qdyk {
    filter: blur(4px)
}

.name.svelte-n5qdyk.svelte-n5qdyk {
    font-size: 80px;
    font-family: Agrandir Tight, sans-serif;
    font-weight: 500;
    line-height: 90%
}

.name-position.svelte-n5qdyk.svelte-n5qdyk {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px
}

.head-left.svelte-n5qdyk.svelte-n5qdyk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%
}

.head-right.svelte-n5qdyk.svelte-n5qdyk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: end;
    padding-top: 8px
}

.head-right.svelte-n5qdyk p.svelte-n5qdyk {
    max-width: 440px
    
}

.info.svelte-n5qdyk.svelte-n5qdyk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.noise.svelte-n5qdyk.svelte-n5qdyk {
    z-index: 3;
    background-image: url(../../../noise.png);
    background-repeat: repeat;
    opacity: .2
}

.gradients.svelte-n5qdyk.svelte-n5qdyk {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 180px
}

.fadeout.svelte-n5qdyk.svelte-n5qdyk {
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%)
}

.gradient.svelte-n5qdyk.svelte-n5qdyk {
    opacity: .7;
    background: linear-gradient(90deg, #D61C1C 0%, #D2B729 24.48%, #26D06A 52.08%, #2824D6 75.52%, #ED2BF1 100%)
}

@media (max-width: 1180px) {
    .content.svelte-n5qdyk.svelte-n5qdyk {
        flex-direction: column;
        height: 325px;
        height: auto;
        gap: 24px
    }

    .head-right.svelte-n5qdyk.svelte-n5qdyk,
    .head-left.svelte-n5qdyk.svelte-n5qdyk {
        width: auto;
        gap: 24px
    }

    .info.svelte-n5qdyk.svelte-n5qdyk {
        gap: 24px
    }
}

@media (max-width: 600px) {

    .name-position.svelte-n5qdyk.svelte-n5qdyk,
    .press-to-reveal.svelte-n5qdyk.svelte-n5qdyk {
        flex-direction: column;
        align-items: start
    }

    .press-to-reveal.svelte-n5qdyk.svelte-n5qdyk {
        gap: 12px
    }

    .content.svelte-n5qdyk.svelte-n5qdyk {
        padding: 16px;
        height: 285px
    }

    .socials.svelte-n5qdyk.svelte-n5qdyk {
        display: none
    }

    .name.svelte-n5qdyk.svelte-n5qdyk {
        font-size: 56px
    }

    .name-position.svelte-n5qdyk>p.svelte-n5qdyk {
        display: none
    }

    .copy-email.svelte-n5qdyk.svelte-n5qdyk {
        display: none
    }
}

.wrapper.svelte-n94jy9 {
    background-color: #101012 !important;
    box-shadow: 0 1.5px 1.5px #edeaff40 inset !important;
    position: relative;
    padding: 40px 32px 150px;
    top: -215px;
    z-index: 10
}

@keyframes svelte-n94jy9-flyOut {
    0% {
        border-radius: 0;
        transform: translateZ(100px);
        -webkit-transform: translate3d(0, 0, 100px)
    }

    to {
        border-radius: 30px 30px 0 0;
        transform: translate3d(0, 215px, 100px);
        -webkit-transform: translate3d(0, 215px, 100px)
    }
}

.appear.svelte-n94jy9 {
    animation: .7s cubic-bezier(.65, .65, .27, 1.39) .5s svelte-n94jy9-flyOut forwards
}

@media (max-width: 1180px) {
    .wrapper.svelte-n94jy9 {
        top: -373px
    }

    @keyframes svelte-n94jy9-flyOut {
        0% {
            border-radius: 0;
            transform: translateZ(100px);
            -webkit-transform: translate3d(0, 0, 100px)
        }

        to {
            border-radius: 30px 30px 0 0;
            transform: translate3d(0, 373px, 100px);
            -webkit-transform: translate3d(0, 373px, 100px)
        }
    }
}

@media (max-width: 600px) {
    .wrapper.svelte-n94jy9 {
        top: -317px;
        padding: 32px 24px 150px
    }

    @keyframes svelte-n94jy9-flyOut {
        0% {
            border-radius: 0;
            transform: translateZ(100px);
            -webkit-transform: translate3d(0, 0, 100px)
        }

        to {
            border-radius: 30px 30px 0 0;
            transform: translate3d(0, 330px, 100px);
            -webkit-transform: translate3d(0, 330px, 100px)
        }
    }
}