.project-tile.svelte-1mj9l4w > div.svelte-1mj9l4w {
  pointer-events: none;
}
.project-tile.svelte-1mj9l4w.svelte-1mj9l4w {
  background-color: #000;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  gap: 24px;
  min-width: 200px;
  box-shadow: 0 1px 1px #ffffff40 inset;
  transition: opacity 0.1s ease-in-out, filter 0.1s ease-in-out,
    transform 0.05s linear;
  position: relative;
}
.project-tile.svelte-1mj9l4w.svelte-1mj9l4w:hover {
  scale: 1.03;
  filter: blur(0) !important;
  opacity: 1 !important;
}
.image.svelte-1mj9l4w.svelte-1mj9l4w {
    width: 64px;
    height: 64px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

}
.image-overlay.svelte-1mj9l4w.svelte-1mj9l4w {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.15;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.type.svelte-1mj9l4w.svelte-1mj9l4w {
  border-radius: 10px;
  background: #2d2d2d;
  box-shadow: 0 1px 1px #ffffff40 inset;
  padding: 3px 10px;
  text-align: center;
}
.bodyXSmall.svelte-1mj9l4w.svelte-1mj9l4w {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.49) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left.svelte-1mj9l4w.svelte-1mj9l4w {
    display: flex
;
    flex-direction: column;
    gap: 8px;
}
.body150.svelte-1mj9l4w.svelte-1mj9l4w {
  opacity: 0.5;
  margin-top: 8px;
}
.wrapper.svelte-5lpvxu.svelte-5lpvxu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.all-changelog.svelte-5lpvxu.svelte-5lpvxu {
  display: inline-block;
  margin: 24px 0 0 46px;
}
.changelog.svelte-5lpvxu.svelte-5lpvxu {
  width: 25%;
}
.changelog.svelte-5lpvxu > .thoughtTileName.svelte-5lpvxu {
  margin-left: 16px;
}
.project-container.svelte-5lpvxu.svelte-5lpvxu {
  width: 75%;
}
.projects.svelte-5lpvxu.svelte-5lpvxu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-auto-rows: min-content;
}
.donate.svelte-5lpvxu.svelte-5lpvxu {
  display: flex;
  align-items: center;
  padding: 2px 12px;
  height: 36px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: #000;
  color: gray;
  gap: 12px;
  transition: all 0.2s ease-in-out;
}
.donate.svelte-5lpvxu.svelte-5lpvxu:hover {
  color: #fff;
}
.flag.svelte-5lpvxu.svelte-5lpvxu {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-top: -2px;
}
.thoughtTileName.svelte-5lpvxu.svelte-5lpvxu {
  margin-bottom: 32px;
}
@media (min-width: 1400px) {
  .projects.svelte-5lpvxu.svelte-5lpvxu {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1180px) {
  .projects.svelte-5lpvxu.svelte-5lpvxu {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .wrapper.svelte-5lpvxu.svelte-5lpvxu {
    flex-direction: column;
  }
  .project-container.svelte-5lpvxu.svelte-5lpvxu,
  .changelog.svelte-5lpvxu.svelte-5lpvxu {
    width: auto;
  }
}
